*{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

body{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(31, 28, 28);
    padding: 1%;
}

header a{
    color: white;
    font-size: larger;
    font-weight: bold;
}

footer{
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0;
    background-color: rgb(31, 28, 28);
    padding: 5%;
}

main{
    padding: 5% 0% 10% 0%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}